.title {
  color: darkblue;
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
  }

  .boardgame-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .big-btn {
    width: 200px;
    height: 60px;
    font-size: 20px;
  }
  
  .see-card-btn:active {
    background-color: lightgreen;
  }

  /* body{
     background-image: url(/src/image.png);
  } */
  video {
    object-fit:cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }