@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

video {
  object-fit:cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.main-page {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Balsamiq Sans', sans-serif;
  font-weight: 700;
}

.start-game-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: purple;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.start-game-button:hover {
  background-color: #0097e6;
}
.player-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 20px;
}

.done-button {
  color: purple;
  background-color: rgb(129, 26, 166);
  
}

button {
  background-color: purple;
  color: white;
}

label h1 {
  color: yellow;
}
.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container > div {
  display: flex;
  align-items: center;

  justify-content: space-between;
  width: 100%;
}
input {
  height: 40px;
  width: 90%;
  margin-right: 10px;
  background-color: white;
  color:purple;
}

.input-button-container {
  display: flex;
  align-items: center;
}
