.title {
    color: green;
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    } */
    /* .container {
        position: relative;
    } */
    .video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .start-over {
        z-index: 1;
        position: relative;
    }

    .header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 200px 200px;
    }

    
    .footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 200px 200px;
    }
    
    /* .player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    } */
    /* .big-btn {
    width: 200px;
    height: 60px;
    font-size: 20px;
    } */
/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-between;
}

.card {
    width: calc(25% - 10px);
    height: 200px;
    background-color: lightgray;
    border-radius: 10px;
    margin-bottom: 20px;
}

.cornerContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upContainer {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.downContainer {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftContainer {
    top: 50%;
    left: 0;
    bottom: 50%;
    width: 50px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightContainer {
    top: 50%;
    right: 0;
    bottom: 50%;
    width: 50px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playerName {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.playerScore {
    font-size: 18px;
} */

.justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 20%;
}